div{
  height: 100px;
  border: 1px solid #000;
  margin: 10px;
  text-align: center;
  width: 30%;
}

p {
  font-family: Helvetica;
}

.half {
  float: left;
  text-align: center;
}

.half:nth-child(3) { /*pseudo-selector*/
  clear: left;
}

.full{
  clear: both;
  background-color: #6495ED;
}
